html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #2B4162;
}

label {
  color: aliceblue;
}

.sub-tela {
  display: none;
}

.titulo {
  font-weight: bold;
  color:#4A92E0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 10px;
}

.tela-centralizada {
  /* Flex */
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
 /*display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /* Fim-do-flex */
}

.formulario-centralizado {
  text-align: center;
}

.formulario-centralizado--top {
  align-self: flex-start;
}

.formulario-centralizado--bottom {
  align-self: flex-end;
}

.error {
  color:aliceblue;
}

#container-botao-entrar {
  padding-left: 0;
  margin-left: 114px;
}

#container-botao-entrar button {
  width: 104px;
}

.nome-item {
  color: azure;
}

#titulo-pagina-principal {
    color: #4A92E0;
    font-family: helvetica,fantasy, arial;
    text-align: center;
    font-size: 50px;
}


#btn-sortear-palavra {
    background-color: #1E6B91;
    color: #C0E0DE;
    margin: 30px;
    padding: 20px;
}


#resetar-jogo{
    margin-left:50px;
}

#titulo-palpite {
    color: #4A92E0;
    font-family: fantasy;
    font-size: 30px;
}

#div-palpite-letra{
    display:inline;
    /*float:left;*/
}

#div-palpite-palavra{
    display:inline;
    float:left; 
}


#form-palpite-palavra {
    width: 218px;
    margin-top: 50px;
   
}
#letra-palpite{
    width:110px;
}

#palpite-palavra {
    width: 318px;
    margin-top: 50px;
   
}


#form-palpite-letra {
   margin-left:auto;
    margin-top: 100px;
    display:inline;
}


#form-palpite-palavra {
    display:inline;
}

#palavra-palpite{
    width: 150px;
    
}

.titulo-jogo{
     text-align: center;
     font-size:60px;
     font-family: fantasy;
     color:rgb(74,146,224);
 }

 #acertos{
     text-align:center;
     margin-left:30%;
     padding:10px;
     width:100px;
     height:80px;
     position:absolute;
     float:left;
     background-color:white;
     border:solid #b50202;
     color:#b50202;
}

 img{
     height:50px;
     width:30px;
 }

 #pontuacao-acertos{
     font-size:25px;
     text-align:center;
 }

 #pontuacao-erros{
     font-size:25px;
     text-align:center;
 }

 #erros{
     text-align:center;
     margin-left:50%;
     padding:10px;
     width:100px;
     height:80px;
     background-color:white;
     border:solid green;
     color:green;
 }



#palavra{
    border: solid;
    height: 66px;
    width: 420px;
    background-color: #1E6B91;
    display: inline-block;
    margin-top:30px;
    margin-left:30%;
    text-align:center;
    padding-top:10px;

}

#game-over h1{
    background-color:#960000;
    color:#8E0000;
    font-family: 'Franklin Gothic',fantasy, arial;
    text-align:center;
}

#winner h2{
    color:#009632;
    text-align:center;
    font-size:60px;
    height:100px;
    font-family:'Franklin Gothic', fantasy, arial;
}


#btn-jogar-novamente{
    margin-left:45%;
    background-color:rgb(74,146,224);
    color:#16658d;
    font-family:'Franklin Gothic', fantasy, arial;
    text-align:center;
    margin-bottom:40px;
}




