html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #2B4162;
}

label {
  color: aliceblue;
}

.sub-tela {
  display: none;
}

.titulo {
  font-weight: bold;
  color:#4A92E0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 10px;
}

.tela-centralizada {
  /* Flex */
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
 /*display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /* Fim-do-flex */
}

.formulario-centralizado {
  text-align: center;
}

.formulario-centralizado--top {
  align-self: flex-start;
}

.formulario-centralizado--bottom {
  align-self: flex-end;
}

.error {
  color:#8E0000;
}

#container-botao-entrar {
  padding-left: 0;
  margin-left: 114px;
}

#container-botao-entrar button {
  width: 104px;
}

.nome-item {
  color: azure;
}

#container-botao-palavra {
  padding-left: 0;
  margin-left: 114px;
}

#titulo-pagina-principal {
    color: #4A92E0;
    font-family: helvetica,fantasy, arial;
    text-align: center;
    font-size: 50px;
}

#btn-sortear-palavra {
    background-color: #2B4162;
    color: #C0E0DE;
    margin: 30px;
    padding: 10px;
}

#titulo-palpite {
    color: #4A92E0;
    font-family: fantasy;
    font-size: 30px;
}

#form-palpite-palavra {
    width: 118px;
    margin-top: 50px;
   
}

#form-palpite-palavra {
    width: 318px;
    margin-top: 50px;
   
}

#palavra{
    border: solid;
    height: 66px;
    width: 267px;
    background-color: #119E9D;
    display: inline-block;
}

#game-over{
    background-color:#2B4162;
    color:#8E0000;
    font-family: fantasy;
    text-align:center;
}
#btn-tentar-novamente{
    background-color:#8E0000;
    color:#2B4162;

}

#winner{
    /*background-color: #119E9D;*/
    color:#FFF;
    text-align:center;
    font-size:460px;
    font-family:fantasy;


}

#btn-jogar-novamente{
    background-color:#16658d;
    color:#119E9D;
    font-family: fantasy;
    text-align:center;
}




