<div class="row">
  <h2 class="titulo">Bem vindo ao Jogo da Forca!</h2>
</div>
<div class="row">
  <button id="btn-sincronizar-com-marvel">Sortear Palavra</button>
</div>
<div class="row">
    <h2 id="palavra"></h2>
    <form id="formPalpiteLetra" class="form-horizontal">
        <div class="form-group">
            <label for="letra" class="col-md-3">Palpite uma letra</label>
            <div class="col-md-9">
                <input type="text" id="letra" name="letra" class="form-control" maxlength="1">
            </div>
        </div>
        <div class="form-group">
            <div id="container-botao-letra" class="col-md-offset-3 col-md-3 pull-right">
                <button type="submit" class="btn btn-primary">Palpitar!</button>
            </div>
        </div>
    </form>

    <form id="formPalpitePalavra" class="form-horizontal">
        <div class="form-group">
            <label for="palavra" class="col-md-3">Palpite a palavra</label>
            <div class="col-md-9">
                <input type="text" id="palavra" name="palavra" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div id="container-botao-palavra" class="col-md-offset-3 col-md-3 pull-right">
                <button type="submit" class="btn btn-primary">Palpitar!</button>
            </div>
        </div>
    </form>
    <ul>
    {{#each letras}}
      <li>
        <span class="nome-item">{{ this }}</span>
      </li>
    {{/each}}
    </ul>
</div>